@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --glow-color: #b1a5f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --background: #171823;
  --foreground: #cbd5e1;
  --glow-color: #22125b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.hero-gradient {
  background:
    radial-gradient(
      72.52% 42.88% at 73.32% 82.63%,
      rgba(170, 220, 189, 0.24) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      43.33% 47.76% at 50.77% 72.86%,
      rgba(234, 196, 33, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      65.71% 43.42% at 22.18% 90.23%,
      rgba(255, 154, 0, 0.15) 35%,
      rgba(255, 255, 255, 0) 100%
    ),
    #22125b;
}

::selection {
  background: #22125b;
  color: #ffffff;
}

::-moz-selection {
  background: #22125b;
  color: #ffffff;
}

.hero-tagline {
  font-family:
    IBMPlexMono,
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
}

@keyframes slideInToast {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInToast {
  animation: slideInToast 0.25s ease-out;
}
