@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #cbd5e1;
  }
}
[data-theme="dark"] {
  --background: #0f172a;
  --foreground: #cbd5e1;
}
[data-theme="light"] {
  --background: #fff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.hero-gradient {
  background: radial-gradient(
      72.52% 42.88% at 73.32% 82.63%,
      rgba(170, 220, 189, 0.24) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      43.33% 47.76% at 50.77% 72.86%,
      rgba(234, 196, 33, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      65.71% 43.42% at 22.18% 90.23%,
      rgba(255, 154, 0, 0.15) 35%,
      rgba(255, 255, 255, 0) 100%
    ),
    #22125b;
}

.hero-tagline {
  font-family: IBMPlexMono, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, Liberation Mono, Courier New, monospace;
}
